$crimson-6: #dc143c;
$crimson-1: lighten($crimson-6, 30%);
$crimson-2: lighten($crimson-6, 25%);
$crimson-3: lighten($crimson-6, 20%);
$crimson-4: lighten($crimson-6, 15%);
$crimson-5: lighten($crimson-6, 10%);
$crimson-7: darken($crimson-6, 10%);
$crimson-8: darken($crimson-6, 15%);
$crimson-9: darken($crimson-6, 25%);
$crimson-10: darken($crimson-6, 30%);
