@import "../../node_modules/ng-zorro-antd/style/themes/default.less";

@primary-color: @purple-1;
@success-color: @purple-3;

@btn-danger-color: hotpink;
@btn-danger-bg: pink;
@btn-danger-border: palevioletred;
